.friendRequest {
  background-color: #d4d6f1;
  display: flex;
  border-radius: 5px;
}
/* 1F6CB0 */

.friendRequest__main {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 15px 30px;
  flex: 1;
}

.friendRequest__header {
  display: flex;
  justify-content: space-between;
}

.friendRequest__header h1,
.friendRequest p {
  margin: 0;
}

.friendRequest__common {
  color: rgb(145, 145, 145);
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendRequest__common--pics {
  display: flex;
  flex-direction: row-reverse;
}

.friendRequest__common--pics > :any-link {
  margin-right: -10px;
}

.friendRequest__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-left: solid 1px rgba(128, 128, 128, 0.473);
  padding: 15px 30px;
}

.friendRequest__buttons > button {
  width: 180px;
  line-height: 2;
  border: solid 2px #1f6cb0;
}

.friendRequest__buttons > button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.friendRequest__buttons--accept {
  background-color: #1f6cb0;
  color: white;
}

.friendRequest__buttons--reject {
  color: #1f6cb0;
}

.friendRequest__buttons p {
  width: 180px;
  text-align: center;
}
