.pendingRequests {
    padding-inline: 15px;
    margin: 0;
    margin-bottom: 30px;
}

.pendingRequests__friendRequests {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pendingRequests > h3 {
    color: #1F6CB0;
    font-weight: normal;
    margin-top: 0;
}