.notificationListItem {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 55px;
    align-items: center;
    border-top: solid 1px rgba(128, 128, 128, 0.24);
    border-bottom: solid 1px rgba(128, 128, 128, 0.24);
}

.notificationListItem__time {
    font-size: 0.7em;
}

.notificationListItem__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.7;
}

.notificationListItem__content img {
    height: 40px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.notificationListItem__username {
    border-left: solid 1px rgba(128, 128, 128, 0.24);
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 165px;
}

.notificationListItem__content .profilePost__text {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    font-size: .4rem;
    border-radius: 5px;
    padding: 3px;
}