.logoName {
  display: flex;
  align-items: center;
  color: #1f6cb0;
  padding: 0.2em 0.5em;
  background: #ffffff6e;
  border-radius: 15px;
}

.logoName > h3 {
  font-size: 3em;
  margin: 0;
  margin-left: 5px;
}

.logoName__logo {
  font-size: 5em;
  color: #4e4e6a;
}
