.youtubePlaceholder {
  position: relative;
}

.youtubePlaceholder__image {
    height: 207px;
}

.youtubePlaceholder__span {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.5em;
  text-align: center;
  font: 48px/1.5 sans-serif;
  color: white;
  text-shadow: 0 0 0.5em black;
}

